<link rel="stylesheet" href="../templates/xiaomimiio/css/bootstrap-select.min.css">

<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
	[#if OK#]
	<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
	[#endif OK#]
	
	[#if ERR#]
	<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
	[#endif ERR#]
<table width="100%"><tr><td>	
	<fieldset>
		[#if ID=""#]
		<legend><#LANG_ADD#> <#LANG_DEVICE#></legend>
		[#endif ID#]


		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_ID#] style="color:red;font-weight:bold"[#endif#]>
				ID (*):
			</label>
			<div class="col-lg-4"><input type="text" class="form-control" name="id" value="[#ID#]" id="id"disabled></div>
		</div>

		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_TITLE#] style="color:red;font-weight:bold"[#endif#]>
				<#LANG_TITLE#> (*):
			</label>
			<div class="col-lg-4"><input type="text" class="form-control" name="title" value="[#TITLE#]" id="title"></div>
		</div>

		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_IP#] style="color:red;font-weight:bold"[#endif#]>
				RFADDRESS  (*):
			</label>
			<div class="col-lg-4"><input type="text" class="form-control" name="rfaddress" value="[#RFADDRESS#]" id="rfaddress" disabled></div>
		</div>








		[#if DEVICETYPETEXT !=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_DEVICETYPETEXT#] style="color:red;font-weight:bold"[#endif#]>
				DEVICETYPE :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="devicetypetext" value="[#DEVICETYPETEXT#]" id="devicetypetext" disabled></div>
		</div>
		[#endif#]

		[#if SERIALNUMBER !=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				SERIALNUMBER :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="serialnumber" value="[#SERIALNUMBER#]" id="serialnumber" disabled></div>
		</div>
		[#endif#]

		[#if DEVICENAME !=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				DEVICENAME :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="devicename" value="[#DEVICENAME#]" id="devicename" disabled></div>
		</div>
		[#endif#]

		[#if BATTERY!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				BATTERY :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#BATTERY#]" id="" disabled></div>
		</div>
		[#endif#]
<hr>
		[#if TEMPERATURE!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				TARGET TEMPERATURE (read, write) :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#TEMPERATURE#]" id="" disabled></div>
		</div>



<!-- LINKED_OBJECT (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_LINKED_OBJECT#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_LINKED_OBJECT#>:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="linked_object" value="[#LINKED_OBJECT#]" id="linked_object"></div>
</div>
<!-- LINKED_PROPERTY (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_LINKED_PROPERTY#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_LINKED_PROPERTY#>:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="linked_property" value="[#LINKED_PROPERTY#]" id="linked_property"></div>
</div>


[#module name="linkedobject" object_field="linked_object" property_field="linked_property" method_field="linked_method"#]


<hr>
		[#endif#]



		[#if ACTUALTEMP!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				ACTUALTEMP (read only) :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#ACTUALTEMP#]" id="" disabled></div>
		</div>



<!-- LINKED_OBJECT (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_LINKED_OBJECT#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_LINKED_OBJECT#>:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="linked_object2" value="[#LINKED_OBJECT2#]" id="linked_object2"></div>
</div>
<!-- LINKED_PROPERTY (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_LINKED_PROPERTY#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_LINKED_PROPERTY#>:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="linked_property2" value="[#LINKED_PROPERTY2#]" id="linked_property2"></div>
</div>

[#module name="linkedobject" object_field="linked_object2" property_field="linked_property2" method_field="linked_method2"#]



<hr>
		[#endif#]

		[#if MODE!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				MODE :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#MODE#]" id="" disabled></div>
		</div>
		[#endif#]




		[#if FIRMWARE!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				FIRMWARE :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#FIRMWARE#]" id="" disabled></div>
		</div>
		[#endif#]

		[#if ECOTEMP!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				ECOTEMP :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#ECOTEMP#]" id="" disabled></div>
		</div>
		[#endif#]

		[#if MINSETPOINTTEMP!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				MINSETPOINTTEMP :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#MINSETPOINTTEMP#]" id="" disabled></div>
		</div>
		[#endif#]

		[#if WINDOWOPENDURATION!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				WINDOWOPENDURATION :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#WINDOWOPENDURATION#]" id="" disabled></div>
		</div>
		[#endif#]

		[#if BOOST!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				BOOST :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#BOOST#]" id="" disabled></div>
		</div>
		[#endif#]

		[#if BOOSTVALUE!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				BOOSTVALUE :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#BOOSTVALUE#]" id="" disabled></div>
		</div>
		[#endif#]

		[#if WINDOWOPENTEMP!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				WINDOWOPENTEMP :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#WINDOWOPENTEMP#]" id="" disabled></div>
		</div>
		[#endif#]

		[#if BOOSTDURATION!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				BOOSTDURATION :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#BOOSTDURATION#]" id="" disabled></div>
		</div>
		[#endif#]

		[#if DECALC!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				DECALC :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#DECALC#]" id="" disabled></div>
		</div>
		[#endif#]

		[#if MAXVALVESETING!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				MAXVALVESETING :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#MAXVALVESETING#]" id="" disabled></div>
		</div>
		[#endif#]

		[#if VALVEOFFSET!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_VALVEOFFSET#] style="color:red;font-weight:bold"[#endif#]>
				VALVEOFFSET :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#VALVEOFFSET#]" id="" disabled></div>
		</div>
		[#endif#]

		[#if NUMMODUS!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				NUMMODUS :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#NUMMODUS#]" id="" disabled></div>
		</div>
		[#endif#]


		[#if VALVEPOSITION!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				VALVEPOSITION :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#VALVEPOSITION#]" id="" disabled></div>
		</div>
		[#endif#]




		[#if DATEUNTIL!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				DATEUNTIL :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#DATEUNTIL#]" id="" disabled></div>
		</div>
		[#endif#]


		[#if TIMEUNTIL!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				TIMEUNTIL :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#TIMEUNTIL#]" id="" disabled></div>
		</div>
		[#endif#]




		[#if SETPOINTTEMP!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				SETPOINTTEMP :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#SETPOINTTEMP#]" id="" disabled></div>
		</div>
		[#endif#]

		[#if SETMODE!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				SETMODE :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#SETMODE#]" id="" disabled></div>
		</div>
		[#endif#]

		[#if STATUS!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				STATUS :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#STATUS#]" id="" disabled></div>
		</div>
		[#endif#]

		[#if UPDATED!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				UPDATED  :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#UPDATED#]" id="" disabled></div>
		</div>
		[#endif#]

		[#if INITIALIZED!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				INITIALIZED :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#INITIALIZED#]" id="" disabled></div>
		</div>
		[#endif#]

		[#if ANSWER!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				ANSWER :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#ANSWER#]" id="" disabled></div>
		</div>
		[#endif#]


		[#if ERROR!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				ERROR  :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#ERROR#]" id="" disabled></div>
		</div>
		[#endif#]


		[#if VALID!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				VALID :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#VALID#]" id="" disabled></div>
		</div>
		[#endif#]

		[#if DSTSET!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				DSTSET :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#DSTSET#]" id="" disabled></div>
		</div>
		[#endif#]

		[#if GATEWAY!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				GATEWAY :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="" value="[#GATEWAY#]" id="" disabled></div>
		</div>
		[#endif#]

		[#if DEVICETYPE !=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_DEVICETYPE#] style="color:red;font-weight:bold"[#endif#]>
				DEVICETYPE :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="devicetype" value="[#DEVICETYPE#]" id="devicetype" disabled></div>
		</div>
		[#endif#]

		[#if ROOMID!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_SERIALNUMBER#] style="color:red;font-weight:bold"[#endif#]>
				ROOMID :
			</label>
		<div class="col-lg-4"><input type="text" class="form-control" name="roomid" value="[#ROOMID#]" id="roomid" disabled></div>
		</div>
		[#endif#]




	
		<div class="form-group">
			<div class="col-lg-offset-3 col-lg-4">
				[#if ID!=""#]
				<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
				[#else ID#]
				<button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
				[#endif ID#]
				<a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default "><#LANG_STRING_BACK#></a>
				<input type="hidden" name="id" value="<#ID#>">

				<input type="hidden" name="edit_mode" value="edit_devices">
				<input type="hidden" name="view_mode" value="edit_devices">
				<input type="hidden" name="mode" value="update">
				<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
				<input type="hidden" name="tab" value="<#TAB#>">
			</div>
		</div>
	</fieldset>
</form>

</td><td>
<img src="../templates/eq3max/img/[#DEVICETYPETEXT#].jpg" width="400">
</td></tr></table>

