

[#if VIEW_MODE!="0"#] 






<table align="center" class="table table-striped">
 <tr>
  <td><b>ID</b></td>
  <td><b>TITLE</b></td>
  <td><b>RF</b></td>
  <td><b>TYPETEXT</b></td>
  <td><b>ROOM</b></td>

 <td><b>SN</b></td>
 <td><b>SETPONT</b></td>

<td><b>UPDATED</b></td>


<!--
<td>ECOTEMP</td> 
<td>MINSETPOINTTEMP</td> 
<td>MAXSETPOINTTEMP</td> 
<td>COMFORTTEMP</td> 

<td>BOOST</td> 
<td>DECALC</td> 

-->

 </tr>





[#begin DEVICES#]

 <tr>
  <td>[#ID#]</td>
  <td>[#TITLE#]</td>
  <td>[#RFADDRESS#]</td>
  <td>[#DEVICETYPETEXT#]</td>
  <td>[#ROOMNAME#]</td>
  <td>[#SERIALNUMBER#]</td>



<td>

[#if DEVICETYPETEXT='Thermostat'#]
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">

<input type="text" name="setpointtemp" value="[#TEMPERATURE#]" class="input" size=2>



<select name="selectmode"  >

<option[#if MODE="manu"#] selected[#endif#]>manu
<option[#if MODE="auto"#] selected[#endif#]>auto
<option[#if MODE="vacation"#] selected[#endif#]>vacation
<option[#if MODE="boost"#] selected[#endif#]>boost

</select>




<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SET#></button>

<input type="hidden" name="view_mode" value="setpointtemp_set">
<input type="hidden" name="rfaddr" value="[#RFADDRESS#]">
<input type="hidden" name="roomid" value="[#ROOMID#]">
<input type="hidden" name="mode" value="update">

</form>

[#endif#]
</td>


<td>[#UPDATED#]</td>

<!--

<td>[#ECOTEMP#]</td> 
<td>[#MINSETPOINTTEMP#]</td> 
<td>[#MAXSETPOINTTEMP#]</td> 
<td>[#COMFORTTEMP#]</td> 
<td>[#BOOST#]</td> 
<td>[#DECALC#]</td> 
<td>[#NUMMODUS#]</td> 
-->


<td>


  <a href="?data_source=<#DATA_SOURCE#>&view_mode=edit_devices&id=[#ID#]&tab=info" class="btn btn-default" title="Редактировать"><i class="glyphicon glyphicon-pencil"></i></a>
  <a href="?view_mode=delete_devices&id=[#ID#]&tab=info" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-default" title="<#LANG_DELETE#>"><i class="glyphicon glyphicon-trash"></i></a> 
  </td>
 </tr>
 [#end DEVICES#]
</table>
[#else DEVICES#]
<p>No devices discovered yet</p>
[#endif DEVICES#]



[#endif VIEW_MODE#]

